link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css', type='text/css')
//link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.css', type='text/css')
link(rel='stylesheet', href='vendor/theme-freelancer/freelancer.min.css', type='text/css')
link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css', type='text/css')
link(rel='stylesheet', href='css/main.min.css', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css')
