body {
  overflow: auto;
}

footer .footer-above {
  padding-top: 5px
}

footer .footer-col {
  margin-bottom: 2%;
}

footer .footer-below {
  padding-bottom: 10px;
}

.modal-dialog {
  background-color: #18bc9c;
  border-radius: 5px;
}

.social-btn-list {
  margin-top: 30px;
}

#register-link {
  font-size: 10px;
}

.card {
  margin-top: 15%;
}

.customer-selection{
  background-color: #dc4e4b;
}

.form-input{
  border-radius: 2px;
}

.registerBody {
  background-color: #18bc9c;
}

.registerBodyFaulty {
  background-color: #b77d7d;
}

.registration-confirmed {
  background-color: #fdfff8;
  margin-top: 15%;
  padding: 50px;
}

.registrationbox {
  margin-top: 11vh;
  margin-bottom: 7vh;
}

.datepicker-container{
  margin-top: 10%;
}
.datepicker-container h2{
  margin-bottom: 5%;
  font-size: 3em;
}

#aboutus{
  margin-top: 10%;
}
#check-available{
  margin-top: 5%;
  box-shadow: 3px 3px 3px 3px black;
}
#check-available:active {
  transform: translateY(4px);
}

  @media (max-width: 768px) {
    .car-table-container {
      display: inline-block;
      width: 100%;
      overflow-x: auto;
    }
  }

  #errors {
    margin-top: 10%;
  }

  #nameInput:invalid {
    background-color: #e6f09e;
  }

  #passwordInput:invalid {
    background-color: #e6f09e;
  }
  #cars-available-header{
    margin-bottom: 3%;
  }

  #booking-order-card{
    margin-bottom: 5%;
  }

#sign-up {
  text-align: center;
}
