extends mainlayout.pug

block extra-css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css', type='text/css')
block extra-js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
    script(src='js/datepicker.js')
    script(src='js/carbrowser.js')

block header
    header(class='masthead')


block main-content
  section(class='success')
    div(class='container' id='aboutus')
      h2(class='text-center') About Us
      hr(class='star-light')
      div(class='row')
        div(class='col-lg-4 offset-lg-2')
          p Rent a car at the lowest price!We always have a good deal on weekly rates on all categories
        div(class='col-lg-4')
          p The most felxible rental solution. We are flexible - give us a challenge!
        div(class='col-lg-8 offset-lg-2 text-center')
          i(class='') Car rental at discounted price
