extends mainlayout


block image-gallery
    div(class="container image-gallery")
        div(class="row")
            div(class="col-sm-6")
                h6 Audi
                img(class="img-fluid" src="../images/audi.png")
            div(class="col-sm-6")
                h6 Volvo
                img(class="img-fluid" src="../images/volvo.png")

    div(class="container image-gallery")
        div(class="row")
            div(class="col-sm-6")
                h6 Ford
                img(class="img-fluid" src="../images/ford.png")
            div(class="col-sm-6")
                h6 Mazda
                img(class="img-fluid" src="../images/mazda.png")

    div(class="container image-gallery")
        div(class="row")
            div(class="col-sm-6")
                h6 Mercedes
                img(class="img-fluid" src="../images/mercedes.png")
            div(class="col-sm-6")
                h6 Nissan
                img(class="img-fluid" src="../images/nissan.png")

    div(class="container image-gallery")
        div(class="row")
            div(class="col-sm-6")
                h6 Opel
                img(class="img-fluid" src="../images/opel.png")
            div(class="col-sm-6")
                h6 Subaru
                img(class="img-fluid" src="../images/subaru.png")

    div(class="container image-gallery")
        div(class="row")
            div(class="col-sm-6")
                h6 Suzuki
                img(class="img-fluid" src="../images/suzuki.png")
            div(class="col-sm-6")
                h6 Toyota
                img(class="img-fluid" src="../images/toyota.png")