html
    head

        include includes/headertags.pug

        include includes/stylesheets.pug

        block extra-css

    body(id='page-top' class='index ' + bodytag)

        nav(id='mainNav' class='navbar fixed-top navbar-toggleable-md navbar-light')
            button(type='button' class='navbar-toggler navbar-toggler-right' data-toggle='collapse' data-target='#main-navbar-collapse' aria-controls='navbarExample' aria-expanded='false' aria-label='Toggle navigation') Menu
                i(class='fa fa-bars')

            div(class='container')
                a(class='navbar-brand' href='/') Car Rental
                    |
                    |
                    em Supreme
                div(class='collapse navbar-collapse' id='main-navbar-collapse')
                    ul(class='navbar-nav ml-auto')
                        li(class='nav-item')
                            a(href='/ourcars' class='nav-link') Our cars
                        li(class='nav-item')
                            a(href='/aboutus' class='nav-link') About us
                        li(class='nav-item')
                            #user
                                if !user
                                    a(id="loginId" class='nav-link' data-toggle="modal" data-target="#exampleModal") Login
                                if user
                                    a( class='nav-link' href="../customers/logout") Log out

        include includes/loginform
        block header
        block main-content
        block images
                div(class="container image-gallery")
                    div(class="row")
                        div(class="col-md-3")
                            img(class="img-fluid" src="../images/audi.png")
                        div(class="col-md-3")
                            img(class="img-fluid" src="../images/volvo.png")




        //Scroll to Top Button (Only visible on small and extra-small screen sizes)
        div(class='scroll-top hidden-lg-up')
            a(class='btn btn-primary page-scroll' href='#page-top')
                i(class='fa fa-chevron-up')

        include includes/scripts.pug
        block extra-js
