html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='public/dependencies/theme-freelancer/freelancer.min.css', type='text/css')
    link(rel='stylesheet', href='public/main.min.css', type='text/css')
  body

    header
      h1 Car Rental Company or smt
      nav
        h1 nav bar
    section
      h1 Main content block
      p= message
    footer
      p Footer





    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    script(src='public/dependencies/theme-freelancer/freelancer.min.js')
    script(src='public/main.js')
