extends mainlayout.pug

block extra-css
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css', type='text/css')
block extra-js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')

block header
  header(class='masthead')
    div(class='container')
      div(class='intro-text text-center')
        h1 Rent your car now
        div(class='input-group input-daterange justify-content-center')
          input(data-provide='datepicker')
          div(class='input-group-addon') &nbsp;to&nbsp;
          input(data-provide='datepicker')

        

        

block main-content
  section(class='success' id='about')
    div(class='container')
      h2(class='text-center') About
      hr(class='star-light')
      div(class='row')
        div(class='col-lg-4 offset-lg-2')
          p Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
        div(class='col-lg-4')
          p Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
        div(class='col-lg-8 offset-lg-2 text-center')
          a(href='#' class='btn btn-lg btn-outline')
            i(class='fa fa-download') Download Theme
