html
  include head

  body(id='page-top' class='index')
    include nav
    include loginform

    header(class='masthead')
      div(class='container')
        div(class='intro-text')
          span(class='name')
            em Supreme
            |
            | Service
          hr(class='star-light')
          span(class='skills')= message
            
      
    section(class='success' id='about')
      div(class='container')
        h2(class='text-center') About
        hr(class='star-light')
        div(class='row')
          div(class='col-lg-4 offset-lg-2')
            p Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
          div(class='col-lg-4')
            p Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
          div(class='col-lg-8 offset-lg-2 text-center')
            a(href='#' class='btn btn-lg btn-outline')
              i(class='fa fa-download') Download Theme
  
      
    include footer
    
    //Scroll to Top Button (Only visible on small and extra-small screen sizes)
    div(class='scroll-top hidden-lg-up')
      a(class='btn btn-primary page-scroll' href='#page-top')
        i(class='fa fa-chevron-up')

    include scripts
