html
  head
    
    include includes/headertags.pug
    
    include includes/stylesheets.pug
    
    block extra-css
    
  body(id='page-top' class='index')
    
    nav(id='mainNav' class='navbar fixed-top navbar-toggleable-md navbar-light')
      button(type='button' class='navbar-toggler navbar-toggler-right' data-toggle='collapse' data-target='#main-navbar-collapse' aria-controls='navbarExample' aria-expanded='false' aria-label='Toggle navigation') Menu
        i(class='fa fa-bars')
        
      div(class='container')
        a(class='navbar-brand' href='#page-top') Car Rental
          |
          |
          em Supreme
        div(class='collapse navbar-collapse' id='main-navbar-collapse')
          ul(class='navbar-nav ml-auto')
            li(class='nav-item')
              a(href='#ourcars' class='nav-link') Our cars
            li(class='nav-item')
              a(href='#aboutus' class='nav-link') About us
            li(class='nav-item')
              #user
                if !user
                   a(id="loginId" class='nav-link' data-toggle="modal" data-target="#exampleModal") Login
                if user
                  a( class='nav-link' href="customers/logout") Log out

    include includes/loginform
    block header
    block main-content
      
    footer(class='text-center')
      div(class='footer-above')
        div(class='container')
          div(class='row')
            div(class='footer-col col-md-4')
              h3 Location
              p 3481 Melrose Place
              br
              .
                Beverly Hills, CA 90210

            div(class='footer-col col-md-4')
              h3 Around the Web
              ul(class='list-inline')
                li(class='list-inline-item')
                  a(class='btn-social btn-outline' href='#')
                    i(class='fa fa-fw fa-facebook')
                li(class='list-inline-item')
                  a(class='btn-social btn-outline' href='#')
                    i(class='fa fa-fw fa-google-plus')
                li(class='list-inline-item')
                  a(class='btn-social btn-outline' href='#')
                    i(class='fa fa-fw fa-twitter')
                li(class='list-inline-item')
                  a(class='btn-social btn-outline' href='#')
                    i(class='fa fa-fw fa-linkedin')
                li(class='list-inline-item')
                  a(class='btn-social btn-outline' href='#')
                    i(class='fa fa-fw fa-dribbble')

            div(class='footer-col col-md-4')
              h3 About Freelancer
              p Freelance is a free to use, open source Bootstrap theme created by 
                a(href='http://startbootstrap.com')
                .
                  Start Bootstrap

      div(class='footer-below')
        div(class='container')
            div(class='row')
                div(class='col-lg-12')
                    Copyright &copy; Your Website 2017

    
    //Scroll to Top Button (Only visible on small and extra-small screen sizes)
    div(class='scroll-top hidden-lg-up')
      a(class='btn btn-primary page-scroll' href='#page-top')
        i(class='fa fa-chevron-up')
    
    include includes/scripts.pug
    block extra-js
