extends mainlayout.pug

block extra-css
block extra-js
block header
    header(class='masthead')

block main-content
        section(class='success')
            section(class='container')
                section(class="row")
                    section(class="col-sm-6 mx-auto")
                        input(class ="btn btn-lg btn-danger btn-block" type="submit" id="view-booking" value="view your booking(s)")