html
    head

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='')
        meta(name='author' content='Grupp 9')

        title #{title} - Car Rental Supreme

        link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css', type='text/css')
        //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.css', type='text/css')
        link(rel='stylesheet', href='vendor/theme-freelancer/freelancer.min.css', type='text/css')
        link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', href='css/main.min.css', type='text/css')
        block extra-css
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css')

    body(id='page-top' class='index registerBody')

        block register
        block registrationdone
        block loginfail

        script(src='vendor/jquery/jquery.min.js')
        //script(src='public/dependencies/theme-freelancer/js/tether.js')
        script(src='vendor/bootstrap/js/bootstrap.min.js')
        script(src='vendor/jquery-easing/jquery.easing.js')
        script(src='vendor/theme-freelancer/freelancer.min.js')
        script(src='js/main.js')
        block extra-js
