html
    head

        include includes/headertags.pug
        
        include includes/stylesheets.pug

        block extra-css

    body(id='page-top' class='index registerBody')

        block register
        block registrationdone
        block loginfail

        include includes/scripts.pug
        block extra-js
