script(src='vendor/jquery/jquery.min.js')
//script(src='public/dependencies/theme-freelancer/js/tether.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
script(src='vendor/jquery-easing/jquery.easing.js')
script(src='vendor/theme-freelancer/freelancer.min.js')