script(src='public/vendor/jquery/jquery.min.js')
//script(src='public/dependencies/theme-freelancer/js/tether.js')
script(src='public/vendor/bootstrap/js/bootstrap.min.js')
script(src='public/vendor/jquery-easing/jquery.easing.js')
script(src='public/vendor/theme-freelancer/freelancer.min.js')
script(src='public/js/bootstrapModal.js')